@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* NAVBAR SECTION */

nav {
    width: auto;
    height: 50px;
    margin: 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    padding: 0 20px;
    cursor: pointer;
}


.nav-left .menu ul {
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    gap: 0 20px;
    font-size: 15px;
}

.nav-left .menu ul li {
    cursor: pointer;
    transition: all 300ms ease;
    padding: 10px;
    border-bottom: 2px solid #fff;
}

.nav-left .menu ul li:hover {
    border-bottom: 2px solid hsl(26, 100%, 55%);
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-right .shopping {
    padding: 0 20px;
    cursor: pointer;
}

.shopping img {
    padding: 0 20px;
}

.avatar img {
    width: 60px;
    height: 60px;
}


/* CONTENT SECTION */

.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 500px 400px;
    gap: 0 100px;
}

.content-left {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}


.main-image img {
    border-radius: 10px;
}

.mini-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.mini-images a img {
    border-radius: 10px;
}

.content-right .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px 0;
    padding: 50px 0;
}

.card h5 {
    text-transform: uppercase;
    color: #ec700b;
}

.card h1 {
    color: #131313;
    margin-bottom: 10px;
}

.card .card-text {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.8;
    line-height: 22px;
    letter-spacing: 0.4px;
}

.card .price {
    margin-top: 10px;
}

.price div {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
}

.price div :nth-child(1) {
    font-size: 18px;
    font-weight: 700;
}

.price div :nth-child(2) {
    text-align: center;
    align-self: center;
    font-size: 12px;
    font-weight: 700;
    color: #ec700b;
    background-color: hsl(25, 100%, 94%);
    padding: 4px 6px;
    border-radius: 20%;
    letter-spacing: 1px;
}

.price > span {
    font-size: 13px;
    opacity: .4;
    font-weight: 700;
    text-decoration: line-through;
}

.shoppingCart {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.shoppingCart div:first-of-type {
    display: flex;
    flex-direction: row;
    gap: 0 30px;
    margin-right: 10px;
    background-color: hsl(223, 64%, 98%);
    padding: 10px;
    border-radius: 10%;
}


.quantity {
    font-size: 12px;
    font-weight: 700;
}
.span-quantity {
    align-self: center;
}
.eksi-arti {
    cursor: pointer;
}

.shopping-button {
    background: hsl(26, 100%, 55%);
    padding: 10px 50px;
    color: #fff;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0px 2px 16px rgba(255, 125, 26, .8);
}

.shopping-button img {
    margin-right: 10px;
}


/* bottom */

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* active */

.active{
    filter: opacity(60%);
}